<script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
<link rel="stylesheet" href="/css/file.css">
<body>
  <% if( !locals.user ) {%>
  <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5 mt-5">
          <img
            src="https://static.vecteezy.com/system/resources/previews/004/451/055/original/online-dating-isometric-color-illustration-real-world-couple-in-love-social-network-profile-website-infographic-online-relationship-3d-concept-liking-socializing-webpage-mobile-app-design-vector.jpg"
            class="img-fluid"
            alt="Sample image"
          />
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form action="/create-session" method="post">
            <div class="form-outline mb-4">
              <input
                type="email"
                name="email"
                id="form3Example3"
                class="form-control form-control-lg"
                placeholder="Enter a valid email address"
              />
              <label class="form-label" for="form3Example3"
                >Email address</label
              >
            </div>
            <div class="form-outline mb-3">
              <input
                type="password"
                name="password"
                id="form3Example4"
                class="form-control form-control-lg"
                placeholder="Enter password"
              />
              <label class="form-label" for="form3Example4">Password</label>
            </div>
            <div class="mb-0 w-50 p-2">
              <button type="submit" class="btn btn-primary">Sign In</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">
                Don't have an account?
                <a href="/user/sign-up" class="link-danger">Register</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <% } else{ %>

  <section
    class="chat__section"
    style="background-color: #eee; height: 100vh; width: 100vw"
  >
    <div class="container py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-4">
          <div class="card" id="chat1" style="border-radius: 15px">
            <div
              class="card-header d-flex justify-content-between align-items-center p-3 bg-success text-white border-bottom-0"
              style="
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
              "
            >
              <i class="fas fa-angle-left"></i>
              <p class="mb-0 fw-bold">Live chat</p>
              <i class="fas fa-times"></i>
            </div>
            <div class="card-body">
              <div class="message__area mb-4" id="chat-box" style="height: 200px; overflow-y: scroll">
                <!-- chat messages will be displayed here -->
              </div>

              <form id="chat-form">
                <div class="form-outline">
                  <textarea
                    class="form-control"
                    id="textarea"
                    rows="2"
                    placeholder="Type your message here..."
                  ></textarea>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% } %>
  <script>
    const socket = io();
    let name;
    let textarea = document.querySelector("textarea");
    let messageArea = document.querySelector(".message__area");
    do {
      name = prompt("Chat as: ");
    } while (!name);
  
    textarea.addEventListener("keyup", (e) => {
      // console.log("hello");
      if (e.key === "Enter") {
        console.log(e.target.value);
        sendMessage(e.target.value);
      }
    });
  
    function sendMessage(message) {
      console.log(message);
      let msg = {
        user: name,
        message: message.trim(),
      };
      // Append
      appendMessage(msg, "outgoing");
      textarea.value = "";
      scrollToBottom();
  
      // Send to server
      socket.emit("message", msg);
    }
  
    function appendMessage(msg, type) {
      let mainDiv = document.createElement("div");
      let className = type;
      mainDiv.classList.add(className, "message");
  
      let markup = `
        <h4>${msg.user}</h4>
        <p>${msg.message}</p>
    `;
      mainDiv.innerHTML = markup;
      messageArea.appendChild(mainDiv);
    }
  
    // Recieve messages
    socket.on("message", (msg) => {
      appendMessage(msg, "incoming");
      scrollToBottom();
    });
  
    function scrollToBottom() {
      messageArea.scrollTop = messageArea.scrollHeight;
    }
  </script>
</body>
