<body>
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5 mt-5">
                    <img src="https://static.vecteezy.com/system/resources/previews/004/451/055/original/online-dating-isometric-color-illustration-real-world-couple-in-love-social-network-profile-website-infographic-online-relationship-3d-concept-liking-socializing-webpage-mobile-app-design-vector.jpg"
                        class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    
                    <form action="/create-user" method="post">
                        <div class="form-outline mb-4 mt-5">
                            <input type="text" name="name" id="formExample"
                                class="form-control form-control-lg"
                                placeholder="Enter your name" />
                            <label class="form-label" for="formExample">Name</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="email" name="email" id="form3Example3"
                                class="form-control form-control-lg"
                                placeholder="Enter a valid email address" />
                            <label class="form-label" for="form3Example3">Email address</label>
                        </div>
                        <div class="form-outline mb-3">
                            <input type="password" name="password" id="form3Example4"
                                class="form-control form-control-lg" placeholder="Enter password" />
                            <label class="form-label" for="form3Example4">Password</label>
                        </div>
                        <div class="mb-0 w-50 p-2">
                            <button type="submit" class="btn btn-primary ">Sign Up</button>
                            <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account? <a
                                    href="/" class="link-danger">Sign In</a></p>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
        
    </section>
</body>